<div class="aboutApp">
    <h1 id="header">About this Application</h1>
<p>In this particular application you are required to enter your github username and some information will be displayed</p>
<p>The information displayed will include:</p>
<ol>
    <li>Your profile photo</li>
     <li>Your login name</li>
    <li>The date you created your account</li>
    <li>The number of public repositories present</li>
    <li>A link to your profile</li>
</ol>
<p>The search results will also inlude repository details</p>
<ol>
    <li>Languages used</li>
    <li>A clone repository url</li>
    <li>The name of the Repo</li>
    <li>The date of creation of the repo</li>
</ol>
</div>
